html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  float:left;
  border-radius: 8px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #0000b2;
}

nav:nth-child(1) {
  padding-left: 25px;
}

#speachInput {
  width: 200px;
  margin-left: 10px;
  font-size: 1.2em;
  float: right;
  color: black;
  font-weight: bold;
}

input {
  float: right;
  margin: 10px;
}

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: white;
  font-size: 1.3em;
  float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: #0000b2;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: #66bdff;
}

.foxForm {
  border: 4px solid #7E3900;
  height: 45px;
  width: 900px;
  margin-top:0px;
  padding-top:10px;
  background-color: #0000b2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.foxForm label {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
  font-size: 1.2em;
  float: left;
  color: white;
}

.foxForm input[type=text] {
  float:left;
}

.makeFoxSubmit {
  transition: background-color 0.4s ease;
  display: inline;
  margin-top: 14px;
  font-size: 1.2em;
  width: 90px;
  background-color: #0000b2;
  border-radius: 2px;
  padding: 3px 0px;
  color: black;
  text-decoration: none;
  margin-left: 45px;
  padding: 5px;
}

.makeFoxSubmit:link, .makeFoxSubmit:visited, .makeFoxSubmit:hover, .makeFoxSubmit:active {
  color: white;
}

.makeFoxSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #7E3900;
}

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 90px;
  background-color: #0000b2;
  border-radius: 2px;
  padding: 3px 0px;
  color: black;
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #7E3900;
}

#user, #pass, #pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #0000b2;
}

#foxMessage {
  display:none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#foxMessage h3 {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#speech {
  height: 120px;
  width: 250px;
  z-index:300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

#fox {
  z-index: 225;
  margin-top: -20px;
  margin-left: 135px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  transform: rotate(330deg);
}

#foxes {
  width: 40%;
  min-width: 400px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
  padding-right: 7px;
  padding-left: 4px;
}

.fox {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #0000b2;
  border-radius: 4px;
  background-color: #0000b2;
  padding: 10px;
  min-height:60px;
  overflow: hidden;
}

.fox:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255,255,255, 0.8);
  transition: background-color 2.6s ease-out;
  background-color: #66bfff;
}

img.foxFace {
  margin-left: 25px;
  margin-right: 10px;
  height: 75px;
  width: 75px;
  border-radius: 4px;
  margin-top:10px;
  float:left;
}

h3.emptyFox {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

h3.foxName {
  float:left;
  width: 200px;
  font-weight: bold;
  padding-left: 40px;
  font-size: 1.5em;
}

h3.foxFavPhrase {
  float:right;
  text-align: left;
  width: 175px;
  font-weight: bold;
  padding-right: 40px;
  font-size: 1.5em;
}

.fox:first-child {
  margin-top: 10px;
}

.fox:last-child {
  margin-bottom:10px;
}